nav{
    background-color: #9C89B8;
}
.navbar-brand img{
    width: 30px;
}

.navbar span, .navbar a {
    color: #fff;
}

.slogo {
    display: flex;
}

.slogo span {
    padding-left: 15px;
}

.ulmenu {
    justify-content: flex-end;
}

.collapse ul {
    margin-right: 0px !important;
}

/* .search {
    background-color: #F0A6CA;
} */

.carou{
    padding-top: 56px;
}
.carou img {
    height: 657px;
    filter: brightness(0.7);
}
.section{
    height: 500px;
    background-color: #EFC3E6;
    display: flex;
    padding-top: 30px;
}
.img{
    width: 50%;
}

.img img {
    padding: 50px; 
    padding-left: 140px;
    width: 85%;
}
.info{
    padding: 60px;
    width: 50%;
    text-align: center;
    font-family: monospace;
}
.info p {
    padding: 20px;
    font-size: 24px;
}


/* section h1, aside h1 {
    padding: 20px 20px 0px 20px;
    text-align: center;
    font-weight: bolder;
} */

.tbrief{
    height: 720px;
    padding-top: 180px; 
    background-image: url('../img/wave.svg'); 
    background-repeat: no-repeat; 
    background-color: #B8BEDD;
}
.briefcase{
    display: flex; 
    justify-content: center; 
}

.tittle{
    padding-left: 112px;
    font-family: cursive;
}

  .card {
    margin: 25px;
  }


  .carousel-caption{
    bottom: 15.25rem;
  }


  .nav-pills .nav-link.active{
    color: #fff;
    background-color: #F0A6CA;
  }

  .ptitle{
    font-size: 50px;
    text-shadow:  2px 2px  #000000;
  }

  .psubti{
    font-size: 30px;
    text-shadow:  2px 2px  #000000;
  }